In [12]:
import numpy as np

In [13]:
import scipy

In [14]:
age=np.random.randint(10,80,size=50)

In [15]:
age

array([57, 77, 55, 57, 19, 21, 18, 75, 28, 47, 67, 65, 78, 69, 44, 11, 57,
       54, 62, 55, 17, 46, 50, 16, 47, 19, 60, 22, 41, 29, 74, 17, 50, 58,
       62, 29, 70, 68, 74, 20, 62, 11, 65, 29, 12, 78, 17, 37, 73, 79])

In [16]:
age_pop=list(age)

In [17]:
age_pop

[57,
 77,
 55,
 57,
 19,
 21,
 18,
 75,
 28,
 47,
 67,
 65,
 78,
 69,
 44,
 11,
 57,
 54,
 62,
 55,
 17,
 46,
 50,
 16,
 47,
 19,
 60,
 22,
 41,
 29,
 74,
 17,
 50,
 58,
 62,
 29,
 70,
 68,
 74,
 20,
 62,
 11,
 65,
 29,
 12,
 78,
 17,
 37,
 73,
 79]

In [18]:
age_sample=np.random.choice(age_pop,20)

In [19]:
age_sample=list(age_sample)

In [20]:
age_sample

[22,
 37,
 67,
 50,
 28,
 65,
 55,
 65,
 58,
 46,
 50,
 11,
 77,
 29,
 55,
 17,
 60,
 75,
 19,
 47]

In [23]:
from scipy.stats import ttest_1sampp

In [24]:
ttest, p_value=ttest_1samp(age_sample,np.mean(age_pop))

In [26]:
p_value

0.945304455879671

In [35]:
if p_value < 0.05:
    print("we are not accepted all hypothesis")
else:
    print("we are accepted all hypothesis")

we are accepted all hypothesis

In [33]:
np.mean(age_pop)

46.96

In [34]:
p_value < 0.05

False

In [44]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math

In [42]:
np.random.seed(6)
school_weight=stats.poisson.rvs(loc=15, mu=50, size=100)

In [43]:
school_weight.mean()

64.95