In [1]:
#One Hot Encoding
#Lebal Encoding

In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.DataFrame({"State":["MH","KA","GJ","MP","AP"],"Grade":["A+","A","B+","B","C"]})

In [4]:
df

  State Grade
0    MH    A+
1    KA     A
2    GJ    B+
3    MP     B
4    AP     C

In [5]:
#One Hot encoder #using pd.getdummies

In [6]:
df_state=pd.get_dummies(df["State"],prefix="State",drop_first=True)

In [7]:
df_state

   State_GJ  State_KA  State_MH  State_MP
0         0         0         1         0
1         0         1         0         0
2         1         0         0         0
3         0         0         0         1
4         0         0         0         0

In [8]:
#One Hot Encoder #using Sklearn Library

In [9]:
from sklearn.preprocessing import OneHotEncoder

In [10]:
df_sk=OneHotEncoder()

In [11]:
df_ohc=df_sk.fit_transform(df[["State"]])  #df_sk.fit_transform(df[["State"]])

In [12]:
df_ohc

<5x5 sparse matrix of type '<class 'numpy.float64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [13]:
df_ohc=df_sk.fit_transform(df[["State"]]).toarray()

In [14]:
df_ohc

array([[0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0.]])

In [15]:
#Label Encoding # Using Sklearn

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
label_enc=LabelEncoder()

In [18]:
Grade_lab=label_enc.fit_transform(df[["Grade"]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:251: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [19]:
Grade_lab

array([1, 0, 3, 2, 4])

In [20]:
#Label Encoding # Using map function

In [21]:
grade={"Grade":  {"C":0,"B":1,"B+":2,"A":3,"A+":4}}

In [22]:
df.replace(grade,inplace=True)

In [23]:
df

  State  Grade
0    MH      4
1    KA      3
2    GJ      2
3    MP      1
4    AP      0