# Fearture importanance

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
data=pd.read_csv("train.csv")  # mobile sales prediction

In [31]:
data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [33]:
data.describe()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
count,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,0.4950,1.522250,0.509500,4.309500,0.521500,32.046500,0.501750,140.249000,4.520500,...,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,0.761500,0.503000,0.507000,1.500000
std,439.418206,0.5001,0.816004,0.500035,4.341444,0.499662,18.145715,0.288416,35.399655,2.287837,...,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.426273,0.500116,0.500076,1.118314
min,501.000000,0.0000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,851.750000,0.0000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.000000,...,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.750000
50%,1226.000000,0.0000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.000000,...,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.500000
75%,1615.250000,1.0000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.000000,...,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.250000
max,1998.000000,1.0000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,...,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000

In [34]:
X=data.iloc[:,0:20]
X.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0

In [35]:
Y=data.iloc[:,-1]
Y

0       1
1       2
2       2
3       2
4       1
       ..
1995    0
1996    2
1997    3
1998    0
1999    3
Name: price_range, Length: 2000, dtype: int64

In [36]:
from sklearn.ensemble import ExtraTreesClassifier
select_feature=ExtraTreesClassifier()
select_feature.fit(X,Y)

ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='gini', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=100,
                     n_jobs=None, oob_score=False, random_state=None, verbose=0,
                     warm_start=False)

In [37]:
select_feature.feature_importances_

array([0.0594975 , 0.02005564, 0.03476469, 0.01951752, 0.03311119,
       0.01685125, 0.03612053, 0.03352284, 0.03777114, 0.03415616,
       0.03451699, 0.04695363, 0.0493644 , 0.38483099, 0.03509319,
       0.03485484, 0.03544864, 0.01403931, 0.01875954, 0.02076999])

In [39]:
feature_score=pd.DataFrame({"Data_Feature":X.columns,"Data_Score":select_feature.feature_importances_})
feature_score

     Data_Feature  Data_Score
0   battery_power    0.059498
1            blue    0.020056
2     clock_speed    0.034765
3        dual_sim    0.019518
4              fc    0.033111
5          four_g    0.016851
6      int_memory    0.036121
7           m_dep    0.033523
8       mobile_wt    0.037771
9         n_cores    0.034156
10             pc    0.034517
11      px_height    0.046954
12       px_width    0.049364
13            ram    0.384831
14           sc_h    0.035093
15           sc_w    0.034855
16      talk_time    0.035449
17        three_g    0.014039
18   touch_screen    0.018760
19           wifi    0.020770

In [42]:
top_feature=feature_score.nlargest(10,"Data_Score")
top_feature

     Data_Feature  Data_Score
13            ram    0.384831
0   battery_power    0.059498
12       px_width    0.049364
11      px_height    0.046954
8       mobile_wt    0.037771
6      int_memory    0.036121
16      talk_time    0.035449
14           sc_h    0.035093
15           sc_w    0.034855
2     clock_speed    0.034765

In [45]:
top_feature_selction=list(top_feature["Data_Feature"])
top_feature_selction

['ram',
 'battery_power',
 'px_width',
 'px_height',
 'mobile_wt',
 'int_memory',
 'talk_time',
 'sc_h',
 'sc_w',
 'clock_speed']

In [46]:
X=X[top_feature_selction]

In [47]:
X

,ram,battery_power,px_width,px_height,mobile_wt,int_memory,talk_time,sc_h,sc_w,clock_speed
0,2549,842,756,20,188,7,19,9,7,2.2
1,2631,1021,1988,905,136,53,7,17,3,0.5
2,2603,563,1716,1263,145,41,9,11,2,0.5
3,2769,615,1786,1216,131,10,11,16,8,2.5
4,1411,1821,1212,1208,141,44,15,8,2,1.2
...,...,...,...,...,...,...,...,...,...,...
1995,668,794,1890,1222,106,2,19,13,4,0.5
1996,2032,1965,1965,915,187,39,16,11,10,2.6
1997,3057,1911,1632,868,108,36,5,9,1,0.9
1998,869,1512,670,336,145,46,19,18,10,0.9
1999,3919,510,754,483,168,45,2,19,4,2.0